# Backend
DATABASE_URL=
BETTER_AUTH_SECRET=
API_URL=http://localhost:3001
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@dishdekho.app
ADMIN_EMAILS=
JWT_SECRET=
CLOUDFLARE_R2_ACCESS_KEY=
CLOUDFLARE_R2_SECRET_KEY=
CLOUDFLARE_R2_BUCKET=
ANTHROPIC_API_KEY=
GOOGLE_TRANSLATE_API_KEY=
MESHY_API_KEY=

# Frontend (Vite prefix)
VITE_API_URL=
VITE_MINDAR_LICENSE=
